<a href="https://colab.research.google.com/github/yunu000/LetsUpgrade-AIML/blob/master/AssignmentDay10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Question no. 1

In [20]:
import numpy as np
arr_first=np.array([[1,2,3],[7,6,5]])
arr_second=np.array([[7,2,5],[1,6,3]])
print("Greater : \n",np.greater(arr_first,arr_second))
print("Greater-Equal: \n",np.greater_equal(arr_first,arr_second))
print("Less : \n",np.less(arr_first,arr_second))
print("Less-Equal : \n",np.less_equal(arr_first,arr_second))

Greater :
 [[False False False]
 [ True False  True]]
Greater-Equal:
 [[False  True False]
 [ True  True  True]]
Less :
 [[ True False  True]
 [False False False]]
Less-Equal :
 [[ True  True  True]
 [False  True False]]

# Question no. 2

In [13]:
arr1_zeros=np.zeros((10))
print("Array of 10 zeros : ",arr1_zeros)
arr1_ones=np.ones((10))
print("Array of 10 ones : ",arr1_ones)
arr1_fives=np.ones((10))*5
print("Array of 10 fives : ",arr1_fives)

Array of 10 zeros :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Array of 10 ones :  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Array of 10 fives :  [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

# Question no. 3

In [8]:
arr3=np.array([[1,2],[3,4]])
print("Sum of array : ",np.sum(arr3))
print("Sum along row : ",np.sum(arr3,axis=1))
print("Sum along column : ",np.sum(arr3,axis=0))

Sum of array :  10
Sum along row :  [3 7]
Sum along column :  [4 6]

# Question no. 4

In [22]:
print("Addition : ",np.add(5,10))
print("Subtraction : ",np.subtract(5,10))
print("Multiplication : ",np.multiply(5,10))
print("Division : ",np.divide(5,10))

Addition :  15
Subtraction :  -5
Multiplication :  50
Division :  0.5

# Question no. 5

In [31]:
angles=np.array([0,30,45,60,90]) #Given angles in degress
# Input of trignometric function is of radian type, so degree must be converted to radian
print("Sin : \n",np.round(np.sin(angles*np.pi/180),2)) 
print("Cosine : \n",np.round(np.cos(angles*np.pi/180),2))
print("Tangent : \n",np.round(np.tan(angles*np.pi/180),2))

Sin :
 [0.   0.5  0.71 0.87 1.  ]
Cosine :
 [1.   0.87 0.71 0.5  0.  ]
Tangent :
 [0.00000000e+00 5.80000000e-01 1.00000000e+00 1.73000000e+00
 1.63312394e+16]